<div class="home-page-wrapper">
  <section class="landing-page-wrapper parallax">
    <div class="box1 parallax__layer parallax__layer--back">
      <h6>"Let the sauce bring you back to 1895"</h6>
    </div>
    <div class="box2 parallax__layer parallax__layer--base">
      <img src="../assets/porzioslogo1.png" alt="" />
    </div>
  </section>
  <section class="about-page-wrapper">
    <aside class="about-info">
      <p>It all started in 1895 when Giovanni Dominick Porzio I stowed away on a ship in Naples, Italy at the age of 14 and traveled to the States where he pioneered the first pizzeria in Savannah, Georgia. Porzio’s Restaurant was a local favorite that featured authentic Italian dishes and Neapolitan style pizzas.
The restaurant was passed down through several generations of Porzio’s where each John D. Porzio contributed their own skills and passion to family operated business. The restaurant remained in the family until its close in <1969 class=""></1969>
To this day, many patrons of the restaurant still recall their experiences at Porzio’s and the rich flavors of the Porzio Italian sauce. Now, the great great-granddaughter is bringing back the joyful experience of the restaurant through the famous pizza sauce that will once again be shared with the community.</p>
    </aside>
    <aside class="about-pic">
    </aside>
  </section>
  <section class="make-pizza-wrapper container-fluid">
    <div class="pizza-making row">
      <div class="location-wrapper col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
      <img class="col-md-4" src="../assets/porzioslogo1.png" alt="" />
      <div class="news-feed col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    </div>
  </section>
  <section class="all-about-the-sauce">
    This is where we talk about the sauce
  </section>
</div>
